.App {
  text-align: center;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  font-size: calc(10px + 2vmin);
  width: 75px;
}

button {
  font-size: calc(10px + 2vmin);
}

svg {
  padding-top: 25px;
}

/* Hide spinners on number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.form-element label {
  display: flex;
  width: 150px;
}

label {
  display: flex;
  flex-wrap: nowrap;
}
